.far {
  color: #64e3df;
}
body {
  height: 100%;
  margin: 0;
  background-color: #181818;
}
.fas {
  color: #64e3df;
  display: absolute;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 20px;
  padding-left: 700px;
}
h3 {
  color: azure;
  font-size: small;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
}
h1 {
  color: azure;
  font-size: large;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#locked {
  border-width: 3px;
  border-color: white;
  width: 201px;
  display: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 671px;
  border: 3px solid;
  background-color: #181818;
  color: white;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
#locked:hover {
  border: #64e3df;
  color: #64e3df;
  background-color: #181818;
  border: 3px solid;
  background: local;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5px;
  -webkit-border-radius: 0.5px;
  -moz-border-radius: 0.5px;
  -ms-border-radius: 0.5px;
  -o-border-radius: 0.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64e3df;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
